<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}"></title>
</head>
<body>
<div th:text="${book.getName()+', '+book.getAuthor()+', '+book.getYear()}"></div>
<br/>

<div th:if="${boolean}">
    <p th:text="${'Now the book is at: '+owner.getName()}"></p>
    <form th:method="PATCH" th:action="@{/library/books/{id}/absolve(id=${book.getBook_id()})}">
        <input type="submit" value="Absolve">
    </form>
</div>

<div th:if="${not boolean}">
    <p>This book is free. Who should I assign it to?</p>
    <label for="select">Choose a person</label>
    <form th:method="PATCH" id="select" th:action="@{/library/books/{id}(id=${book.getBook_id()})}">
        <select th:object="${book}" th:field="*{owner}">
            <option th:each="person : ${people}" th:value="${person.getPerson_id()}" th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Select">
    </form>
</div>

<hr/>
<form th:method="GET" th:action="@{/library/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit this book">
</form>
<form th:method="DELETE" th:action="@{/library/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete this book">
</form>
<form th:method="GET" th:action="@{/library/books}">
    <input type="submit" value="Back">
</form>
</body>
</html>